<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="ie.shaneobrien.itmtogps" android:versionCode="2">
	<uses-sdk android:minSdkVersion="12" />
	<application android:label="ITM to GPS" android:icon="@drawable/icon"></application>
</manifest>